

.tmp-area {
    min-height: 100vh;
    padding-top: 15rem;
}





* {
    outline: none;
}

.ranking {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-flow: column;
    overflow: hidden;
    background-color: rgb(var(--color2-base));
    color: white;
}

.ranking .list {
    margin: 0 auto;
    width: 100%;
    max-width: 1800px;
}

.user_box {
    display: flex;
    border-radius: 10px;
    background-color: #0005;
    width: 100%;
    height: 70px;
    margin-bottom: 2px;
}

.user_box .rank {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    flex-basis: 70px;
    flex-shrink: 1;
    flex-grow: 0;

    overflow: hidden;
}

.user_box .rank i,
.user_box .rank span {
    color: white;
    font-size: 1.5em;
}

.user_box .profile {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    flex-basis: 60px;
    flex-shrink: 1;
    flex-grow: 0;

    overflow: hidden;
}

.user_box .profile img {
    height: 100%;
}

.user_box .login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}

.user_box .campus {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}

.user_box .progress {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}

.user_box .empty {
    height: 100%;
    flex-grow: 1;
}

.user_box .average {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0005;

    width: 80px;
    flex-basis: 80px;
    flex-shrink: 1;
    flex-grow: 0;

    overflow: hidden;
}


@media screen and (max-width: 700px) {
    .user_box .login,
    .user_box .empty {
        display: none;
    }
}
