extends layout_menu

block append head 
    title Nyte - Classement
    link(rel='stylesheet' href='css/grades_ranking.css')
block content
    
        section.tmp-area.font-poppins
            .container.mx-auto.btn-shadow
                .title.py-5.mx-5.text-white.text-lg.sm-text-xl.font-bold
                    span Informations
                .information-area.py-5.mx-10.text-white
                        p Cette fonctionalité n'est pas encore disponible.

        // models
        models(style='display:none')
            .user_box 
                .rank
                    //i.fas.fa-medal
                    span 155
                .profile
                    img(src='https://photos.cri.epita.fr/thumb/adrien.pingard') 
                .login 
                    span adrien.pingard 
                .campus 
                    span tls
                .empty
                .progress 
                    span -/-
                .average 
                    span 14.75
            

block append script
