extends layout_menu

block append head 
    title Nyte - Profil
    link(rel='stylesheet' href='css/grades_ranking.css')
block content
    
        section.tmp-area.font-poppins
            .container.mx-auto.btn-shadow
                .title.py-5.mx-5.text-white.text-lg.sm-text-xl.font-bold
                    span Informations
                .information-area.py-5.mx-10.text-white
                        p Cette fonctionalité n'est pas encore disponible.

         

block append script
